/*------------------  HEADER  ------------------- */

.Contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.Logo{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 250px;
}


.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    
}

.NavBar ul li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.NavBar ul li::before{
    content: "";
    height: 3px;
    width: 0%;
    background-color: #f29718;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.NavBar ul li:hover::before{
    width: 100%;


}
.NavBar li a:hover{
    color: #ff851b;  
    text-decoration-line: none;
    
}

#Menu ul ul{
    display: none;
    position: absolute;
    color: #ff851b;
}

#Menu ul li:hover > ul {
    display: block;
    color: #ff851b;
    z-index: 2;
    
}

.SubMenu{
    background: #dfe6e9;
    list-style: none;
}

.NavCont{
    color: grey;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 30px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
.Fondo{
    background-image: url(../Resource/Imagenes/AritosStarWars.jpg);
    background-size: 100%;
    height: 200px;
    max-width: 100%;
    position: relative;
    
}


/*--------- BODY ----------*/

.Conten{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    
}

aside{
    flex: 30px;
}

.ContTexto{
    display: flex;
    flex-direction: row-reverse;
}
.TextoHechos{
    color: rgb(36, 34, 34);
    font-size: 30px;
    font-style: oblique;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(45deg, #797171, transparent);
}

.TextoHechos2{
    color: rgb(36, 34, 34);
    font-size: 40px;
    font-style: oblique;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 50px;
    background-image: linear-gradient(45deg, #7871b3, transparent);
    
}

.VideoAritos{
    height: 200px;
    position: relative;
    margin-left: 10px;
}
.ContVideo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
    flex-wrap: wrap;
}
.ContenTexto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

span{
    position: relative;
    left: 40px;
}

.ContenedorImg{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*-webkit-perspective: 700;*/
}

.ContenedorTarj{
    margin: 20px;
    /*-webkit-perspective: 700;*/
}

.ContenedorTarj a{
    display: inline-block;
}

.ContenedorTarj:hover figure{
    -webkit-transform: perspective(600px) rotateY(180deg) ;
    -ms-transform: perspective(600px) rotateY(180deg) ;
    -o-transform: perspective(600px) rotateY(180deg) ;
    transform: perspective(600px) rotateY(180deg) ;
}

.ContenedorTarj:hover figure img{
    filter: blur(5px);
}
figure{
    width: 200px;
    height: 300px;
    margin: 0;
    position: relative;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}

figure .Frontal,
figure .Detras{
    height: 100%;
    border-radius: 5px;
    transition: all ease .5s;
}

figure .Frontal{
    display: block;
    /*backface-visibility: hidden;*/
}

figure .Detras{
    position: absolute;
    top: 0;
    padding: 20px;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ee0808;
    font-size: 20px;
}

a{
    text-decoration: none;
}
.Frontal{
    width: 200px;
    height: 300px;
}
@media screen and (max-width: 480px) {
    .NavBar{
        flex-direction: column;
    }
    .Fondo{
        background-repeat: none;
    }
    
}

/*----------- FOOTER -----------*/

.MantConec{
   text-align: center;
   position: relative;
   color: grey;
   
}
.LogoRedes{
    height: 80px;
    margin-left: 30px;
    margin-right: 30px;
}
.ContLogosRedes{
    display: flex;
    justify-content: center;
    align-items: center;
}

:root{
    --facebook: #3b5999;
    --instagram: #e4405f;
    --whatsapp: rgba(4, 252, 4, 0.959);
}

.RedesContainer{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

.RedesContainer ul li{
    display: inline-block;
    margin: 0 40px;
    width: 200px;
    text-align: center;
}

.RedesContainer ul li a{
    display: block;
    padding: 0 10px;
    background-image: linear-gradient(45deg, #ffffff, transparent);
    line-height: 70px;
    font-size: 50px;
    box-shadow: 0 3px 5px 0px  rgba(0,0,0,0.2);
    transition: .2s;
    color: black;
}

.RedesContainer ul:hover a {
    filter: blur(2px);

}


.RedesContainer ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0,0,0,.4);
    filter: none;
}

.RedesContainer ul li .Facebook:hover{
    background: var(--facebook);
}

.RedesContainer ul li .Instagram:hover{
    background: var(--instagram);
}

.RedesContainer ul li .Whatsapp:hover{
    background: var(--whatsapp);
}


footer{
    background-image: url(../Resource/Imagenes/Imagen\ de\ fondo.jpg);
}





/* ---------------- TIENDA Y NEW ---------*/

.ContenedorProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ContImagen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.ContImagen .Card{
border-radius: 8px;
box-shadow: 0 2px 2px rgba(0,0,0,0.2);
overflow: hidden;
margin: 20px;
text-align: center;
transition: all 0.25s;
}

.ContImagen .Card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
.Imagen1{
    width: 200px;
    height: 200px;
}

.Imagen2{
    width: 200px;
    height: 200px;
}

.Imagen3{
    width: 200px;
    height: 200px;
}

.Imagen4{
    width: 200px;
    height: 200px;
}

.Imagen5{
    width: 200px;
    height: 200px;
}
.Imagen6{
    width: 200px;
    height: 200px;
}
.Imagen7{
    width: 200px;
    height: 200px;
}
.Imagen8{
    width: 200px;
    height: 200px;
}
.Imagen9{
    width: 200px;
    height: 200px;
}
.Imagen10{
    width: 200px;
    height: 200px;
}

.TextoHechos3{
    color: rgb(36, 34, 34);
    font-size: 40px;
    font-style: oblique;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 0px;
    background-image: linear-gradient(45deg, #7871b3, transparent);
}

/*------------ QUIENES SOMOS ----------*/


.ContainerQS{
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(3, 1fr);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ContainerQS > .HeaderQS,
.ContainerQS > .ContentQS,
.ContainerQS > .SideBarQS,
.ContainerQS > div{
    padding: 20px;
    border: 1px solid #000;
}

.ContainerQS .HeaderQS{
    grid-column: 1/6;
    background: #1e272e;
    color: #FFF;
    text-align: center;
    position: relative;
    top: 10px;
}

.ContainerQS > .ContentQS{
    grid-column: span 3;
}

.ContentQS > .ArticuloQS{
    background: #485460;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9;
}

.ContainerQS > .SideBarQS{
    grid-column: span 2;
    background: #485460;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ContainerQS > .SideBarQS{
    grid-column: span 2;
}

.ImagenQS1{
    width: 300px;
    height: 200px;
    position: relative;
    bottom: 55px;
}

.ImagenQS2{
    width: 300px;
    height: 200px;
    position: relative;
    top: 30px;
}

.ImagenQS3{
    width: 300px;
    height: 200px;
    position: relative;
    top: 95px;
}


/*---------------- CONTACTO ------------*/

.Content{
max-width: 1170px;
margin-left: auto;
margin-right: auto;

}


.ContForm .Form .Form-Header .Form-Titulo{
    font-weight: normal;
    color: #ff851b;
    text-align: center;
    padding: 14px 0;
}
.Span{
    color: black;
}
.ContForm .Form{
    background: rgba(0,0,0,.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 3px;
}
.ContForm .Form .Form-Label{
    display: block;
    color:#ff851b;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}
 .Form-Input {
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ff851b;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.Form-Textarea{
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ff851b;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.Btn-Submit{
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    background: #ff851b;
    font-size: 16px;
    border:none;
    color: #FFF;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}
.ContForm .Form .Btn-Submit:hover{
    background: #f29718;
}


.ContactInfo{
    position: relative;
    top: 70px;
    font-size: 40px;
}
.ContactInfo li i{
    padding: 23px;
}
.ContactInfo h4{
    font-size: 30px;
    position: relative;
    left: 20px;
}
.ContactInfo h4,
.ContactInfo ul,
.ContactInfo p{
    text-align: center;
    margin: 0 0 1rem 0;
    
}

.ContactInfo ul{
    list-style: none;
    padding: 0;
}
.ContactInfo ul li{
    padding: 0.3em;
}

.ContactWrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.ContactWrapper{
    padding: 2em;
}

